@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900');

@font-face {
        font-family: "Raleway";
        src: url('../fonts/Raleway-Regular.woff') format('woff'),
            url('../fonts/Raleway-Regular.ttf') format('truetype');
            
}

div {
    margin:0 auto;
    width: 1160px;
}

header, footer {
    background-color:#17abb3;
    padding: 15px;
}

header {
    display: flex;
    flex-direction: row;
    background-color: #17abb3;
    margin: auto;
    height: 150px;
    padding-bottom: 40px;
    padding-top: 10px ;
    
}

#pho {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #17abb3;
    width: 200px;
    height: 120px;
    margin: 30px ;
   
}

#im {
    width: 120px;
    height: 120px;
    border:2px solid #ffffff ;
    border-radius: 50%;
    margin: 15px 20px;
}

#div1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    width: 300px;
    height: 150px;
    
}


#ti {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #17abb3;
    width: 300px;
    
}

h1 {
    
    font-family: "Lato", sans-serif;
    color:#ffffff;
    line-height: 1px;
    
}

h2 {
    line-height: 5px;
    font-family:"Lato", sans-serif;
    color:#ffffff;
    font-size: larger;
    font-weight: large;
}

#fla {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 300px;
    padding-top: 20px;
    
}

#fla1 {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 100px;

}

#fla2 {
    display: flex;
    flex-direction:column;
    justify-content: start;
    width: 100px;
}

#mail {
    display: flex;
    flex-direction: row;
    justify-content: end;
    width: 15px;
    height: 15px;

}


#tel {
    display: flex;
    flex-direction: row;
    justify-content: end;
    width: 15px;
    height: 15px;
    padding-top: 20px;
}

#maison {
    display: flex; 
    flex-direction: row;
    justify-content: end;
    width: 10px;
    height: 19px;
    
}

#voiture {
    display: flex;
    flex-direction: row;
    justify-content: end;
    width: 10px;
    height: 20px;
    padding-top: 5px;
    padding-left: 25px;
    
}

#voi {
    display: flex;
    flex-direction: row;
    justify-content: end;
    width: 10px;
    height: 20px;
    padding-top: 10px;
    padding-right: 7px;
}

a {
    font-family: "Raleway", sans-serif;
    font-weight: 200;
    color:#ffffff;
    text-decoration: none;
    width:20px;
    padding-left: 10px;
}

#co{
    display: flex;
    flex-direction: row;
    font-family: "Raleway", sans-serif;
    font-weight: 200;
    color: #ffffff;
    padding-left: 5px;
    padding-bottom: 10px;
    width:30px;
}



main {
    display: flex;
    justify-content: start;
    gap:10px;
}


#sec1 {
    display: flex;
    flex-direction: column;
    justify-content: start;
    background-color: #e3e3e3;
    width: 300px;
    
}

#sec2 {
    display: flex;
    flex-direction:column;
    justify-content: start;
    background-color: #ffffff;
    width: 1000px;
}


#row {
    
    background-color: #e3e3e3;
}

#ch {
    display:flex;
    flex-direction: row;
    width:300px;

}

#com {
    display: flex;
    flex-direction: column;
    width:200px;

}

#ht {
    display: flex;
    flex-direction: row;
    
}

#etoile {
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 50px;
    padding-top:10px;
}

#rang1 {
    display: flex;
    flex-direction: row;
    justify-content: start;
    margin-bottom:20px ;
}




#scor1 {
    
    width:15px;
    height: 15px;
    
}

#scor2 {
    width:15px;
    height: 15px;
}