@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900');

@font-face {
        font-family: "Raleway";
        src: url('../fonts/Raleway-Regular.woff') format('woff'),
            url('../fonts/Raleway-Regular.ttf') format('truetype');
            
}

#conteneur {
    margin:0 auto;
    width: 1160px;
}


header {
    display: flex;
    flex-direction: row;
    background-color: #17abb3;
    margin: auto;
    height: 150px;
    padding: 15px;
    padding-bottom: 40px;
    padding-top: 20px ;
    
}

#pho {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #17abb3;
    width: 210px;
    height: 120px;
    margin: 30px ;
   
}

#im {
    width: 120px;
    height: 120px;
    border:2px solid #ffffff ;
    border-radius: 50%;
    margin: 1px 20px 1px 50px;
}

#div1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    width: 300px;
    height: 150px;
    
}


#ti {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #17abb3;
    width: 300px;
    
}

h1 {
    
    font-family: "Lato", sans-serif;
    color:#ffffff;
    line-height: 1px;
    font-size: 2.4em;
    
}

h2 {
    line-height: 5px;
    font-family:"Lato", sans-serif;
    color:#ffffff;
    font-size: larger;
    font-weight: large;
}

#fla {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100px;
    padding-top: 20px;
    
}

#fla1 {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 100px;

}

#fla2 {
    display: flex;
    flex-direction:column;
    justify-content: start;
    width: 50px;
    padding-left: 80px;
}

#mail {
    display: flex;
    flex-direction: row;
    justify-content: end;
    width: 15px;
    height: 15px;

}


#tel {
    display: flex;
    flex-direction: row;
    justify-content: end;
    width: 15px;
    height: 15px;
    padding-top: 20px;
}

#maison {
    display: flex; 
    flex-direction: row;
    justify-content: flex-start;
    width: 10px;
    height: 19px;
    
}

#voiture {
    display: flex;
    flex-direction: row;
    justify-content: end;
    width: 10px;
    height: 20px;
    padding-top: 5px;
    padding-left: 70px;
    
}

#voi {
    display: flex;
    flex-direction: row;
    justify-content: end;
    width: 10px;
    height: 20px;
    padding-top: 10px;
    padding-right: 10px;
}

a {
    font-family: "Raleway", sans-serif;
    font-weight: 200;
    color:#ffffff;
    text-decoration: none;
    width:20px;
    padding-left: 10px;
}

#co{
    display: flex;
    flex-direction: row;
    font-family: "Raleway", sans-serif;
    font-weight: 200;
    color: #ffffff;
    padding-top: 10px;
    width: 50px;
}

/*commencement du main*/

main {
    display: flex;
    justify-content: start;
    
}

/*commencement de le section tout à gauche en fond gris*/

#sec1 {
    display: flex;
    flex-direction: column;
    justify-content: start;
    background-color: #e3e3e3;
    width: 300px;
    padding: 40px;
    
}

#marg {
    width:260px;
    height:681px;
}


h3 {
    font-family: 'Lato', sans-serif;
    color: #17abb3;
    font-weight: 600;
    font-size: 1.4em;
    margin-bottom: 0;
    
}

#ca-1 {
    display:flex;
    flex-direction: row;
    width:240px;
    margin: 0;

}

#com {
    display: flex;
    flex-direction: column;
    width:100px;
    margin:0px;
}

.text {
    font-family: 'raleway', sans-serif;
    font-weight: bolder;
    line-height: 1px;
}

#etoile {
    display: flex;
    flex-direction: column;
    width: 140px;
    height: 50px;
    padding-left: 90px;
}

.rang {
    display: flex;
    flex-direction: row;
    justify-content: start;
    width:100px;
    padding-bottom: 5px;
    
}

.scor {
    display: flex;
    flex-direction: row;
    padding-top:11px ;
    padding-right: 5px;
    width:16px;
    height:16px;
    
}

#ca-2{
    display:flex;
    flex-direction: row;
    width:240px;
    margin: 0;
}

#langues{
    display: flex;
    flex-direction: column;
    width:100px;
    margin:0px;
}

.lan {
    font-family: "Lato", sans-serif;
    font-weight: bolder;
    line-height: 30px;
}

#niveau{
    display: flex;
    flex-direction: column;
    width: 140px;
    height: 50px;
    padding-left: 60px;
}

#lm {
    width:150px;
    padding-right: 7px;
}

#in {
    width:120px;
    padding-left:40px;
}

#ba {
    width:100px;
    padding-left: 99px;
}

.niv {
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    line-height: 30px;
}

/*commencement des deux dernier carré tout à gauche*/

ul {
  list-style: none;
  padding: 0;
}

li::before {
    content: "■ ";
    color: #17abb3;
    padding-left: 0px;
}

.ca4-5 {
    font-family: "Raleway", sans-serif;
    padding-left:10px;
    
}


/*commencement de la section à droit en fond blanc*/
#sec2 {
    display: flex;
    flex-direction:column;
    justify-content: start;
    background-color: #ffffff;
    width: 1000px;
    padding: 40px;
}




footer {
    background-color:#17abb3;
    padding: 15px;
    height:40px;
}