@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900')

@font-face{
    font-family: "Raleway";
    src:url('../fonts/Raleway-Regular.woff');
    src: url('../fonts/Raleway-Regular.ttf') format('truetype');
}

div {
    margin:0 auto;
    width: 1160px;
}

header, footer {
    background-color:#17abb3;
    padding: 15px;
}

header {
    display: flex;
    justify-content: center;
    height: 150px;
}

#pho {
    display: flex;
    justify-content: center;
    background-color: #17abb3;
    width: 300px;
   
}

#im {
    width: 120px;
    height: 120px;
    border:2px solid #ffffff ;
    border-radius: 50%;
    margin: 15px 0px 20px;
}


#ti {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #17abb3;
    
}

h1 {
    margin-bottom: 0%;
    font-family: "Lato", sans-serif;
    color:#ffffff;
    font-weight: 100;
    
}

h2 {
    margin-top: 0%;
    font-family:"Raleway", sans-serif;
    color:#ffffff;
    font-weight: 300;
    font-size: large;
}

#fla {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 900px;
    height: 70px;
}

#fla1 {
    display: flex;
    flex-direction: column;
    justify-self: center;
    width: 160px;
}

#fla2 {
    display: flex;
    flex-direction: column;
    justify-self: center;
    width: 160px;
}

#rang1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 30px;
    height: 30px;
    
}

#rang2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 30px;
    height: 30px;
}

#rang3 {
    display: flex;
    flex-direction: row;
    align-self: center;
    justify-content: start;
    width: 30px;
    height: 30px;
}

#rang4 {
    display: flex;
    flex-direction: row;
    align-self: center;
    width: 30px;
    height: 30px;
}

a {
    color:#ffffff;
}

#co {
    color: #ffffff;
}

.nolin {
    text-decoration: none;
}


main {
    display: flex;
    justify-content: start;
    gap:10px;
}


#sec1 {
    display: flex;
    flex-direction: column;
    justify-content: start;
    background-color: #e3e3e3;
    width: 300px;
    
}

#sec2 {
    display: flex;
    flex-direction:column;
    justify-content: start;
    background-color: #ffffff;
    width: 1000px;
}


#row {
    width: 150px;
    height:50px;
    background-color: #e3e3e3;
}

#col {
    align-self: flex-start;
    width: 150px;
    height:50px;
    background-color: #c04e4e;
}